name: CI/CD Sederhana

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout kode
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Pastikan jest executable
        run: chmod +x ./node_modules/.bin/jest || true

      - name: Jalankan unit test
        run: npx jest --runInBand